{% extends 'base.html' %}

{% block title %}Lista de Contratos{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Contratos</h2>
    <a href="{% url 'crear_contrato' %}" class="btn btn-success mb-3">Añadir Contrato</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Empleado</th>
                <th>Salario</th>
                <th>Tipo de Contrato</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Contrato (Archivo)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for contrato in listar_contratos %}
            <tr>
                <td>{{ contrato.empleado }} <!-- Muestra el empleado asignado al contrato --></td>
                <td>{{ contrato.salario }}</td>
                <td>{{ contrato.tipo_contrato }}</td>
                <td>{{ contrato.fecha_inicio }}</td>
                <td>{{ contrato.fecha_fin }}</td>
                <td>
                    {% if contrato.documento_contrato %}
                        <a href="{{ contrato.documento_contrato.url }}" target="_blank">
                            Ver Contrato
                        </a>
                    {% else %}
                        No hay archivo
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'actualizar_contrato' contrato.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_contrato' contrato.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No hay contratos registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
