{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Empleados{% endblock %}

{% block content %}
    <!-- Enlazamos el CSS para listar -->
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">

    <div class="content-container">
        <h2>Lista de Empleados</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Área de Trabajo</th>
                        <th>Estado</th>
                        <th>Puesto</th>
                        <th>Firma</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.id_persona.nombre }} {{ empleado.id_persona.apellido }}</td>
                        <td>{{ empleado.area_trabajo }}</td>
                        <td>{{ empleado.estado }}</td>
                        <td>{{ empleado.puesto_empresa }}</td>
                        <td>                    
                            {% if empleado.imagen_firma %}
                            <img src="{{ empleado.imagen_firma.url }}" alt="Firma de {{ empleado.id_persona.nombre }}" width="100">
                            {% else %}
                            <img src="{% static 'img/blanco.jpg' %}" alt="Imagen de firma predeterminada" width="100">
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'actualizar_empleado' empleado.id %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'eliminar_empleado' empleado.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No hay empleados registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
